# ESP-IDF Build-Ordner
/uC-Board-Treiber/build
build/

# Python-Kopfdaten und Artefakte
__pycache__/
*.py[cod]
*$py.class

# Lokale Konfigurationsdateien (Hardware-Einstellungen)
sdkconfig
sdkconfig.old

# IDE-spezifische Ordner
/uC-Board-Treiber/.vscode/
/uC-Board-Treiber/.idea/

# Temporäre Dateien
*.swp
*.bak


